body {
  background-image: url(./images/pexels-nida-13437109.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

.container {
  font-size: 32px;
  color: #ca4a00;
  font-family: helvetica, arial, sans-serif;
  margin: auto;
  padding: 100px 0;
  text-align: center;
}